body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}
#out{
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
   box-shadow:2px 2px 10px gray;

}
#myInput{
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border-radius:11px ;
    box-shadow:  2px 2px 10px black;
}
#maytinh button{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;

}
#maytinh button:hover{
    background-color: lightgray;
    opacity: 0.8;
}
#vang{
    border-radius: 10px;
    background-color: yellow ;
}
#do{
  background-color: brown;
}
#bang{
  height: 100px  ;
  width: 100px;
  background-color: greenyellow;
}
#xanh{
  background-color: cornflowerblue;
}